{{template "base"}}
{{define "content"}}
    <div class="content">
        <section class="about-header">
            <div class="about-header-content">
                <h1>About Us</h1>
                <p>We are developper from zone01 Dakar</p>
            </div>
        </section>
        <section class="about-team">
            <div class="about-team-content">
                <h2>Our Team</h2>
                <div class="team-member">
                    <h2>Alimoudine IDRISSOU</h2>
                    <h3>@ialimoud</h3>
                    <p>Capitain of the team</p>
                </div>
                <div class="team-member">
                    <h2>Pascal Adama SARR</h2>
                    <h3>@passar</h3>
                    <p>Member of the team</p>
                </div>
                <div class="team-member">
                    <h2>Adama Seydou DIEDHIOU</h2>
                    <h3>@addiedhiou</h3>
                    <p>Member of the team</p>
                </div>
            </div>
        </section>
    </div>
    {{end}}